---
Checks: >
  -*,
  bugprone-*,          # Bugprone checks
  performance-*,       # Performance related checks
  readability-*,       # Readability improvement checks
  modernize-*,         # Modernize to use modern C++ features
  cppcoreguidelines-*, # C++ core guidelines checks
  clang-analyzer-*     # Clang static analyzer checks
WarningsAsErrors: '*'   # Treat warnings as errors (empty string means no warnings as errors)
HeaderFilterRegex: ''  # Regular expression to filter which headers are analyzed (empty means all headers)
AnalyzeTemporaryDtors: false # Whether to analyze temporary destructors
FormatStyle: 'file'    # Use .clang-format file for formatting

CheckOptions:
  - key:             modernize-use-auto
    value:           "true"       # Suggest using auto when it is possible
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case   # Example of configuring specific check options
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
